$SuperDarkPurp: #0e063e;
$DarkPurp: #281C75;
$LightPurp: #864AE2;
$BrightPink: #E478FF;
$TextWhite: #DAD5FF;
$ButterLight: #FFEED5;
$ButterDark: #EDCD88;
$PinkHighlight: #BE6BEC;

$BasePixels: 18;
$GridSize: 12;
$MaxWidth: 1128;
