.highlight {
  background: $SuperDarkPurp;
  border-radius: 8px;
  margin: 0;
  margin-top: 16px;
  padding: 4px 24px;
  overflow-x: scroll;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    color: $TextWhite;
    font-family: 'Rubik', sans-serif;
    letter-spacing: .1em;
    top: 12px;
    right: 12px;
    background-color: #3b346c;
    border-radius: 4px;
    padding: 3px 5px;
    line-height: 1;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
  }
  &.js:after { content: 'JS' }
  &.html:after { content: 'HTML' }

  table,
  tr,
  td {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
  }
}

code {
  background-color: $SuperDarkPurp;
  color: $TextWhite;
  display: inline-block;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 14px;
}

pre {
  color: $TextWhite;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  overflow-x: auto;
  position: relative;

  .function .keyword,
  .constant {
    color: $LightPurp;
  }

  .keyword,
  .attribute {
    color: $ButterDark;
  }

  .number,
  .literal {
    color: $BrightPink;
  }

  .comment {
    color: #7b7695;
  }

  .string {
    color: #a1df5b;
  }

  .tag .name {
    color: $ButterDark;
  }

  .tag .attr {
    color: $BrightPink;
  }
}
