<%- partial('_partials/index-header') %>

<section class="main-content">
  <div class="container">
    <div class="main-flex">
      <aside class="sidebar">
        <nav class="sidebar-nav js-butr-nav">
        </nav>
      </aside>
      <section class="page-content js-butr-content">
        <%- page.content %>
      </section>
    </div>
  </div>
</section>
