<header class="header">
  <div class="container">
    <svg class="butr-logo">
      <use xlink:href="#icon-butr"></use>
    </svg>
    <div class="subhead">
      buttery-smooth animations for scrolling
      <div class="yay-text">
        (yay requestAnimationFrame)
      </div>
    </div>
    <div class="cta">
      <a href="#Getting-Started" class="button" data-butr>
        Docs
      </a>
      <a href="https://github.com/UFHealth/butr.js" target="_blank" class="button">
        GitHub
      </a>
    </div>
  </div>
  <div class="header-pattern"></div>
</header>
